In [1]:
import pandas as pd # importing pandas as pd
import numpy  as np # importing numpy as np

In [2]:
### Creating Pandas Series with Default Index
nums = [1, 2, 3, 4,5]
s = pd.Series(nums)
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
### Creating  Pandas Series with custom index
nums = [1, 2, 3, 4, 5]
s = pd.Series(nums, index=[1, 2, 3, 4, 5])
print(s)

1    1
2    2
3    3
4    4
5    5
dtype: int64

In [4]:
fruits = ['Orange','Banana','Mangao']
fruits = pd.Series(fruits, index=[1, 2, 3])
print(fruits)

1    Orange
2    Banana
3    Mangao
dtype: object

In [5]:
### Creating Pandas Series from a Dictionary
dct = {'name':'Asabeneh','country':'Finland','city':'Helsinki'}
s = pd.Series(dct)
print(s)

name       Asabeneh
country     Finland
city       Helsinki
dtype: object

In [6]:
### Creating a Constant Pandas Series
s = pd.Series(10, index = [1, 2,3])
print(s)

1    10
2    10
3    10
dtype: int64

In [7]:
### Creating a  Pandas Series Using Linspace
s = pd.Series(np.linspace(5, 20, 10)) # linspace(starting, end, items)
print(s)

0     5.000000
1     6.666667
2     8.333333
3    10.000000
4    11.666667
5    13.333333
6    15.000000
7    16.666667
8    18.333333
9    20.000000
dtype: float64

In [8]:
## DataFrames
#Pandas data frames can be created in different ways.
### Creating DataFrames from List of Lists
data = [
    ['Asabeneh', 'Finland', 'Helsink'], 
    ['David', 'UK', 'London'],
    ['John', 'Sweden', 'Stockholm']
]
df = pd.DataFrame(data, columns=['Names','Country','City'])
print(df)

      Names  Country       City
0  Asabeneh  Finland    Helsink
1     David       UK     London
2      John   Sweden  Stockholm

In [9]:
### Creating DataFrame Using Dictionary
data = {'Name': ['Asabeneh', 'David', 'John'], 'Country':[
    'Finland', 'UK', 'Sweden'], 'City': ['Helsiki', 'London', 'Stockholm']}
df = pd.DataFrame(data)
print(df)

       Name  Country       City
0  Asabeneh  Finland    Helsiki
1     David       UK     London
2      John   Sweden  Stockholm

In [10]:
### Creating DataFrames from a List of Dictionaries
data = [
    {'Name': 'Asabeneh', 'Country': 'Finland', 'City': 'Helsinki'},
    {'Name': 'David', 'Country': 'UK', 'City': 'London'},
    {'Name': 'John', 'Country': 'Sweden', 'City': 'Stockholm'}]
df = pd.DataFrame(data)
print(df)

       Name  Country       City
0  Asabeneh  Finland   Helsinki
1     David       UK     London
2      John   Sweden  Stockholm

In [14]:
## Reading CSV File Using Pandas
# To download the csv file, needed in this example, console/command line is enough:
df = pd.read_csv('/home/rancy/Documents/1000DaysOfCode/1.100Days/30-Days-Of-Python/data/weight-height.csv')
print(df)

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [15]:
### Data Exploration
#Let's read only the first 5 rows using head()
print(df.head()) # give five rows we can increase the number of rows by passing argument to the head() method

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [16]:
print(df.shape) # as you can see 10000 rows and three columns

(10000, 3)

In [17]:
#Let's get all the columns using columns.
print(df.columns)

Index(['Gender', 'Height', 'Weight'], dtype='object')

In [18]:
#Let's read only the last 5 rows using tail()
print(df.tail()) # tails give the last five rows, we can increase the rows by passing argument to tail method

      Gender     Height      Weight
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

In [19]:
#Now, lets get a specific column using the column key
heights = df['Height'] # this is now a series
print(heights)

0       73.847017
1       68.781904
2       74.110105
3       71.730978
4       69.881796
          ...
9995    66.172652
9996    67.067155
9997    63.867992
9998    69.034243
9999    61.944246
Name: Height, Length: 10000, dtype: float64

In [20]:
weights = df['Weight'] # this is now a series
print(weights)

0       241.893563
1       162.310473
2       212.740856
3       220.042470
4       206.349801
           ...
9995    136.777454
9996    170.867906
9997    128.475319
9998    163.852461
9999    113.649103
Name: Weight, Length: 10000, dtype: float64

In [21]:
print(len(heights) == len(weights))

True

In [24]:
print(heights.describe()) # give statisical information about height data

count    10000.000000
mean        66.367560
std          3.847528
min         54.263133
25%         63.505620
50%         66.318070
75%         69.174262
max         78.998742
Name: Height, dtype: float64

In [25]:
print(weights.describe())

count    10000.000000
mean       161.440357
std         32.108439
min         64.700127
25%        135.818051
50%        161.212928
75%        187.169525
max        269.989699
Name: Weight, dtype: float64

In [26]:
print(df.describe())  # describe can also give statistical information from a dataFrame

             Height        Weight
count  10000.000000  10000.000000
mean      66.367560    161.440357
std        3.847528     32.108439
min       54.263133     64.700127
25%       63.505620    135.818051
50%       66.318070    161.212928
75%       69.174262    187.169525
max       78.998742    269.989699

In [27]:
### Creating a DataFrame
# As always, first we import the necessary packages. Now, lets import pandas and numpy, two best friends ever.
data = [
    {"Name": "Asabeneh", "Country":"Finland","City":"Helsinki"},
    {"Name": "David", "Country":"UK","City":"London"},
    {"Name": "John", "Country":"Sweden","City":"Stockholm"}]
df = pd.DataFrame(data)
print(df)

       Name  Country       City
0  Asabeneh  Finland   Helsinki
1     David       UK     London
2      John   Sweden  Stockholm

In [28]:
#Adding a column to a DataFrame is like adding a key to a dictionary.
#First let's use the previous example to create a DataFrame. After we create the DataFrame, we will start modifying the columns and column values.
### Adding a New Column
#Let's add a weight column in the DataFrame
weights = [74, 78, 69]
df['Weight'] = weights
df

       Name  Country       City  Weight
0  Asabeneh  Finland   Helsinki      74
1     David       UK     London      78
2      John   Sweden  Stockholm      69

In [29]:
#Let's add a height column into the DataFrame aswell
heights = [173, 175, 169]
df['Height'] = heights
print(df)

       Name  Country       City  Weight  Height
0  Asabeneh  Finland   Helsinki      74     173
1     David       UK     London      78     175
2      John   Sweden  Stockholm      69     169

In [30]:
### Modifying column values
df['Height'] = df['Height'] * 0.01
df

       Name  Country       City  Weight  Height
0  Asabeneh  Finland   Helsinki      74    1.73
1     David       UK     London      78    1.75
2      John   Sweden  Stockholm      69    1.69

In [31]:
# Using functions makes our code clean, but you can calculate the bmi without one
def calculate_bmi ():
    weights = df['Weight']
    heights = df['Height']
    bmi = []
    for w,h in zip(weights, heights):
        b = w/(h*h)
        bmi.append(b)
    return bmi
bmi = calculate_bmi()

In [32]:
df['BMI'] = bmi
df

       Name  Country       City  Weight  Height        BMI
0  Asabeneh  Finland   Helsinki      74    1.73  24.725183
1     David       UK     London      78    1.75  25.469388
2      John   Sweden  Stockholm      69    1.69  24.158818

In [33]:
#The BMI column values of the DataFrame are float with many significant digits after decimal. Let's change it to one significant digit after point.
df['BMI'] = round(df['BMI'], 1)
print(df)

       Name  Country       City  Weight  Height   BMI
0  Asabeneh  Finland   Helsinki      74    1.73  24.7
1     David       UK     London      78    1.75  25.5
2      John   Sweden  Stockholm      69    1.69  24.2

In [34]:
birth_year = ['1769', '1985', '1990']
current_year = pd.Series(2020, index=[0, 1,2])
df['Birth Year'] = birth_year
df['Current Year'] = current_year
df

       Name  Country       City  Weight  Height   BMI Birth Year  Current Year
0  Asabeneh  Finland   Helsinki      74    1.73  24.7       1769          2020
1     David       UK     London      78    1.75  25.5       1985          2020
2      John   Sweden  Stockholm      69    1.69  24.2       1990          2020

In [35]:
## Checking data types of Column values
print(df.Weight.dtype)

int64

In [36]:
df['Birth Year'].dtype # it gives string object , we should change this to number
df['Birth Year'] = df['Birth Year'].astype('int')
print(df['Birth Year'].dtype) # let's check the data type now

int64

In [37]:
#Now same for the current year:
df['Current Year'] = df['Current Year'].astype('int')
df['Current Year'].dtype

dtype('int64')

In [38]:
# Now, the column values of birth year and current year are integers. We can calculate the age.
ages = df['Current Year'] - df['Birth Year']
ages

0    251
1     35
2     30
dtype: int64

In [39]:
df['Ages'] = ages
print(df)

       Name  Country       City  Weight  Height   BMI  Birth Year  \
0  Asabeneh  Finland   Helsinki      74    1.73  24.7        1769
1     David       UK     London      78    1.75  25.5        1985
2      John   Sweden  Stockholm      69    1.69  24.2        1990

   Current Year  Ages
0          2020   251
1          2020    35
2          2020    30

In [40]:
mean = (35 + 30)/ 2
print('Mean: ', mean)	#it is good to add some description to the output, so we know what is what

Mean:  32.5

In [42]:
### Boolean Indexing
print(df[df['Ages'] > 120])

       Name  Country      City  Weight  Height   BMI  Birth Year  \
0  Asabeneh  Finland  Helsinki      74    1.73  24.7        1769

   Current Year  Ages
0          2020   251

In [43]:
print(df[df['Ages'] < 120])

    Name Country       City  Weight  Height   BMI  Birth Year  Current Year  \
1  David      UK     London      78    1.75  25.5        1985          2020
2   John  Sweden  Stockholm      69    1.69  24.2        1990          2020

   Ages
1    35
2    30

In [44]:
#1. Read the hacker_news.csv file from data directory 
df = pd.read_csv('/home/rancy/Documents/1000DaysOfCode/1.100Days/30-Days-Of-Python/data/hacker_news.csv')
print(df)

             id                                              title  \
0      12224879                          Interactive Dynamic Video
1      11964716  Florida DJs May Face Felony for April Fools' W...
2      11919867       Technology ventures: From Idea to Enterprise
3      10301696  Note by Note: The Making of Steinway L1037 (2007)
4      10482257  Title II kills investment? Comcast and other I...
...         ...                                                ...
20094  12379592  How Purism Avoids Intels Active Management Tec...
20095  10339284          YC Application Translated and Broken Down
20096  10824382  Microkernels are slow and Elvis didn't do no d...
20097  10739875                      How Product Hunt really works
20098  11680777  RoboBrowser: Your friendly neighborhood web sc...

                                                     url  num_points  \
0                http://www.interactivedynamicvideo.com/         386
1      http://www.thewire.com/entertainment/2013/04/f...           2
2      https://www.amazon.com/Technology-Ventures-Ent...           3
3      http://www.nytimes.com/2007/11/07/movies/07ste...           8
4      http://arstechnica.com/business/2015/10/comcas...          53
...                                                  ...         ...
20094  https://puri.sm/philosophy/how-purism-avoids-i...          10
20095  https://medium.com/@zreitano/the-yc-applicatio...           4
20096  http://blog.darknedgy.net/technology/2016/01/0...         169
20097  https://medium.com/@benjiwheeler/how-product-h...         695
20098              https://github.com/jmcarp/robobrowser         182

       num_comments         author        created_at
0                52       ne0phyte    8/4/2016 11:52
1                 1       vezycash   6/23/2016 22:20
2                 1        hswarna    6/17/2016 0:01
3                 2     walterbell    9/30/2015 4:12
4                22         Deinos   10/31/2015 9:48
...             ...            ...               ...
20094             6  AdmiralAsshat    8/29/2016 2:22
20095             1       zreitano   10/6/2015 14:57
20096           132    vezzy-fnord     1/2/2016 0:49
20097           222          brw12  12/15/2015 19:32
20098            58      pmoriarty    5/12/2016 1:43

[20099 rows x 7 columns]

In [47]:
#2. Get the first five rows
print(df.head())

         id                                              title  \
0  12224879                          Interactive Dynamic Video
1  11964716  Florida DJs May Face Felony for April Fools' W...
2  11919867       Technology ventures: From Idea to Enterprise
3  10301696  Note by Note: The Making of Steinway L1037 (2007)
4  10482257  Title II kills investment? Comcast and other I...

                                                 url  num_points  \
0            http://www.interactivedynamicvideo.com/         386
1  http://www.thewire.com/entertainment/2013/04/f...           2
2  https://www.amazon.com/Technology-Ventures-Ent...           3
3  http://www.nytimes.com/2007/11/07/movies/07ste...           8
4  http://arstechnica.com/business/2015/10/comcas...          53

   num_comments      author       created_at
0            52    ne0phyte   8/4/2016 11:52
1             1    vezycash  6/23/2016 22:20
2             1     hswarna   6/17/2016 0:01
3             2  walterbell   9/30/2015 4:12
4            22      Deinos  10/31/2015 9:48

In [48]:
#3. Get the last five rows
print(df.tail())

             id                                              title  \
20094  12379592  How Purism Avoids Intels Active Management Tec...
20095  10339284          YC Application Translated and Broken Down
20096  10824382  Microkernels are slow and Elvis didn't do no d...
20097  10739875                      How Product Hunt really works
20098  11680777  RoboBrowser: Your friendly neighborhood web sc...

                                                     url  num_points  \
20094  https://puri.sm/philosophy/how-purism-avoids-i...          10
20095  https://medium.com/@zreitano/the-yc-applicatio...           4
20096  http://blog.darknedgy.net/technology/2016/01/0...         169
20097  https://medium.com/@benjiwheeler/how-product-h...         695
20098              https://github.com/jmcarp/robobrowser         182

       num_comments         author        created_at
20094             6  AdmiralAsshat    8/29/2016 2:22
20095             1       zreitano   10/6/2015 14:57
20096           132    vezzy-fnord     1/2/2016 0:49
20097           222          brw12  12/15/2015 19:32
20098            58      pmoriarty    5/12/2016 1:43

In [57]:
#4. Get the title column as pandas series
title = pd.Series(df.title)
print(title)

0                                Interactive Dynamic Video
1        Florida DJs May Face Felony for April Fools' W...
2             Technology ventures: From Idea to Enterprise
3        Note by Note: The Making of Steinway L1037 (2007)
4        Title II kills investment? Comcast and other I...
                               ...
20094    How Purism Avoids Intels Active Management Tec...
20095            YC Application Translated and Broken Down
20096    Microkernels are slow and Elvis didn't do no d...
20097                        How Product Hunt really works
20098    RoboBrowser: Your friendly neighborhood web sc...
Name: title, Length: 20099, dtype: object

In [58]:
#5. Count the number of rows and columns
df.shape

(20099, 7)

In [60]:
# - Filter the titles which contain python
import re 
def Filter(string, substr): 
    return [str for str in string if
             any(sub in str for sub in substr)]    
# Driver code 
string = df.title
substr = ['python'] 
title_python = Filter(string, substr)
print(title_python)

['IronPython 3 (python for .net) development restarted', 'Learn data science in python by taking online course', 'Show HN: Dplython, dplyr data manipulation for python', 'Kickstarter for funding Micropython port to ESP8266', 'DQN for Beginners in 200 lines of python code to play Flappy Bird with Keras', 'Show HN: Venv2docker  create a docker image from a python virtualenv', 'EasyMake  one python file instead tons of Makefile locs', 'let in python (2014)', 'Ptpython  better than ipython or bpython?', 'Show HN: Stack overflow command line client added support to python 2', 'The origins of the class Meta idiom in python', 'Crypto and SSL toolkit for python (M2Crypto)']

In [61]:
# - Filter the titles which contain JavaScript
substr1 = ['JavaScript'] 
title_jscript = Filter(string, substr1)
print(title_jscript)

['Show HN: Hire JavaScript - Top JavaScript Talent', 'Ask HN: Are there any projects or compilers which convert JavaScript to Java?', 'If you write JavaScript tools or libraries, bundle your code before publishing', 'Rollup.js: A next-generation JavaScript module bundler', 'V8 JavaScript Engine: V8 Release 5.4', 'Proposed JavaScript Standard Style', 'Show HN: Design by Contract for JavaScript', 'Show HN: Monkberry  a JavaScript library for building web user interfaces', 'Introduction to asynchronous JavaScript', 'Ask HN: How do I learn JavaScript after using it for years', 'Performance Comparison of JavaScript Frameworks', 'A Chinese JavaScript framework that aims to challenge JQuery', "Industry Leaders to Advance Standardization of Netscape's JavaScript (1996)", 'Will TypeScript replace JavaScript in development?', 'Show HN: A Simple JavaScript Speech Recognizer', 'ElixirScript  Elixir to JavaScript', 'Show HN: Phoenix  a lightweight OS X window manager scriptable with JavaScript', 'Is your JavaScript function actually pure?', 'JavaScript Cancelable Promises Proposal', 'Ask HN: Any Site that teaches JavaScript the way RailsCasts.com teaches Rails?', 'List of books to master JavaScript Development', 'Ask HN: JavaScript code explainer?', 'JavaScript Promises: Plain and Simple', 'Ask HN: How to approach writing a web crawler that can handle JavaScript?', 'Wordpress Admin Fully JavaScript', 'Capture and report JavaScript errors with window.onerror', 'JavaScript Fatigue', 'Compile OCaml to JavaScript, Run on Node', 'Show HN: Expounder  A small JavaScript library for more engaging tutorials', 'Learning how to write a 3D engine from scratch in C#, TypeScript or JavaScript (2013)', 'Microsoft Preps Alternate JavaScript Engine for Node.js', 'Timbre.js: JavaScript Library for Objective Sound Programming', 'Why You Should Learn JavaScript in 2016', 'Need Help to Recall CSS in JavaScript  Dec***', 'Show HN: Bodybuilder  an elasticsearch query body builder for JavaScript', 'How JavaScript closures work under the hood', 'Gmail disabled access when JavaScript is turned off', "A Taste of JavaScript's New Parallel Primitives", "Ask HN: Where's the best place or best way to learn JavaScript syntax?", 'Drool: automated memory leak detection in JavaScript', 'Show HN: Lerna: A tool for managing large JavaScript projects', 'Ask HN: Re-learn JavaScript today, where to start?', 'A Large-Scale Study of the Use of Eval in JavaScript Applications (2011) [pdf]', 'A Simple JavaScript change to reduce your build size', 'Making Music in a Browser: Recreating Theremin with JavaScript and Web Audio API', 'The Genuine (JavaScript) Sieve of Eratosthenes', "JavaScript isn't ever going away, is it?", 'Show HN: JavaScript for Designers  follow along for free', 'Oracle releases new JavaScript framework', "Microsoft Edge's JavaScript engine to go open-source", 'Explaining the Example in The Secret Life of Objects of Eloquent JavaScript', 'Battle of JavaScript: The 4 Frameworks Leading the Pack in 2016', '21 JavaScript Answers on Quora Every Developer Must Read', 'Klipse plugin for JavaScript  JSFiddle', 'I Turned Off JavaScript for a Week', 'Tcl.js: robust, high-performance Tcl in JavaScript', 'Ask HN: How do you manage complexity in large JavaScript applications', 'Functions in JavaScript: Assess your skills', 'JSClassFinder: Detecting class-like structures in legacy JavaScript code', 'JavaScript libraries should be written in TypeScript', 'Window JavaScript alert messagebox tutorial for beginners', 'A ?-calculus interpreter in less than 200 lines of JavaScript', 'JavaScript eval: direct vs. indirect call', 'Show HN: FractalViewer: A JavaScript fractal explorer', 'Show HN: I just made my first JavaScript library', "BrightWork's JavaScript SDK  build your back end faster", "A boilerplate of JavaScript things that mostly shouldn't exist", 'Runtime.js??JavaScript library OS', 'PHP framework Laravel selects Vue.js as default JavaScript framework', 'Ask HN: Elm-like JavaScript framework?', 'JavaScript Performance Updates in Microsoft Edge and Chakra', 'Show HN: MoonQuery.js Mongo like querying of arrays in JavaScript', 'JavaScript and me', 'Show HN: A JavaScript String replace API that challenges the status quo', 'Go bridges to JavaScript and Python', 'Stop Styling React Components with JavaScript', 'CurveCP in JavaScript', 'Executing non-alphanumeric JavaScript without parentheses', 'How to learn JavaScript', 'Ask HN: Should Learn/switch to JavaScript Programming (a Java Developer)', 'Show HN: TinyRave  SoundCloud for JavaScript Music', 'Avoiding a JavaScript Monoculture', 'Ask HN: What would it take to free TypeScript from the JavaScript shackles?', 'The State of JavaScript: Front-End Frameworks  A Few Preliminary Results', 'React/JavaScript fatigue', 'The GhostWriter, a JavaScript 2D Game with Canvas', 'JavaScript has beguiled the current generation of software developers', 'Developing small JavaScript components WITHOUT frameworks', 'Y combinator real life application: recursive memoization in JavaScript', 'Show HN: Chevrotain  Fault-Tolerant JavaScript Parsing DSL', 'New JavaScript: ES7 and beyond', 'The State of JavaScript on Android in 2015 Is Poor (Jeff Atwood)', "JavaScript's new Date() causing 90% of Alibaba's internal compatibility issues", '7 out of 10 most influential people on GitHub writing in JavaScript', 'Good JavaScript front end libraries?', 'Fable: F# to JavaScript Transpiler', 'Comcast injects JavaScript into webpages to show copyright notices to customers', 'Js-joda  Immutable date and time library for JavaScript', '2014s JavaScript versus todays  How things were before and how they are now', 'Emulating a 6502 in JavaScript [video]', 'A cool way to use natural language in JavaScript', 'An awesome set of JavaScript snippets for VIM with support of ES2015 and Node.js', 'Promisees  JavaScript Promises Visualization', 'Cash: a cross-platform implementation of Unix shell commands in JavaScript', 'HTTP Live Streaming in JavaScript', '10 Most Recommended JavaScript Scene Articles of 2015', 'The Top 3 JavaScript Mistakes Youre Making Right Now (and How to Fix Them)', 'Show HN: Highcharts  JavaScript charts in one line', '[JavaScript] to promise or to callback? This is the problem', 'ES6 is Over-Engineering JavaScript', 'An interactive way of blogging about JavaScript', 'Show HN: Timesweet  Time tracking in pure JavaScript', 'What are the best JavaScript IDEs and editors?', 'JavaScript and Immutability -?How fast is fast enough?', 'Show HN: ScriptObservatory.org  How much malicious JavaScript goes unnoticed?', 'Show HN: Pangaea  Text preprocessing with JavaScript', 'Show HN: Klipse  code evaluator pluggable on a web page clojure/ruby/JavaScript', 'Show HN: Flasher.js  Easily Install JavaScript on ESP8266 WiFi IoT Devices', 'Ask HN: Recommendations for Expert Level JavaScript Classes', 'Samson and JavaScript', 'Furnish JavaScript - Let the classes on DOM elements generate the CSS for you', 'Type conversions from JavaScript to C++ in V8', 'Simple Programs to Learn JavaScript Design Patterns', 'SQLite compiled into JavaScript via Emscripten', 'Interaction without JavaScript: common UI elements with a CSS-only pattern', 'How to Write an Open Source JavaScript Library: 23 Free Lessons on Egghead.io', 'Show HN: First Release of Transcrypt Python3.5 to JavaScript Compiler', 'Book on JavaScript Tools: Gulp, NPM, Yeoman, Bower', 'A case in defense of ES6 generators in JavaScript', 'Creating a JavaScript object without the new keyword', 'JavaScript is immature compared to Java', 'Using Vim as a JavaScript IDE', 'Global namespaced to Common JS Modules in JavaScript with babel', 'Show HN: Easily Add a CMS to Your JavaScript App', 'Should We Limit Web Development to JavaScript?', 'Top-level await in JavaScript is a footgun', 'Show HN: Aspect-oriented mixins in JavaScript', 'I Hate JavaScript', 'Gordon  open source Flash runtime written in pure JavaScript', 'JavaScript 101  Free 5+ hour course for Beginners', 'Ask HN: Technologies to create a brand new JavaScript application?', 'Feathers 2.0  a minimalist real-time JavaScript framework', 'Pluggable.js: A tiny plugin architecture for your JavaScript project', 'Made a small JavaScript library for smooth pretty drawing/handwriting on Canvas', 'The Master JavaScript Course Has Been Released (197 Spots Remaining)', 'Show HN: JavaScript coding challenges on top of GitHub and circleci', 'Show HN: A simple, visual way of debugging JavaScript', "The master's thesis that led to the Karma Test Runner for JavaScript", '10 very good reasons to stop using JavaScript', 'Guidelines to choose a JavaScript library', 'Show HN: Learn to code with JavaScript (French)', 'Isomorphic JavaScript, lets make it easier', 'We found a JavaScript UI library that performs great on Android mobile web', 'Imgur.com exploit that allowed arbitrary JavaScript to be embedded', 'How can JavaScript be stopped from spreading like a cancer?', 'Famo.us pivots from JavaScript engine to micro-app CMS', 'Immutable Data Structures and JavaScript', 'Ask HN: What are examples of large websites without JavaScript?', 'Show HN: Prolog compiler and interpreter in pure JavaScript', 'Speed up JavaScript crypto', 'Ask HN: Can anyone suggest great examples of continuation passing in JavaScript?', 'Data Structures in JavaScript', 'Show HN: LilBlog  Blog Software Written in Only HTML, CSS, and JavaScript', 'The State of JavaScript on Android Is Poor', 'Fotorama, a responsive JavaScript photo gallery', 'Another Kind of JavaScript Fatigue', 'Lonely programmer detective uncovers the Mozilla JavaScript coercion conspiracy', 'Ask HN: Best Practices for CSS in a Modern JavaScript App', 'Show HN: Parse recipe ingredients using JavaScript']

In [ ]:
#  - Explore the data and make sense of it